/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 0;
  background-color: #0D1117;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  overflow: hidden; /* Prevents scrollbars */
}

html, body {
  height: 100%;
  width: 100%;
}
