.fade {
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Tranziție animată pentru containerul pașilor */
.step-container {
  animation: slideIn 0.5s ease forwards;
  opacity: 0;
}

@keyframes slideIn {
  0% {
    transform: translateX(60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
