.auth-box {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 20px;
  z-index: 10;
  position: relative;
}

.login-box {
  background: rgba(27, 39, 53, 0.85);
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 850px;
  padding: 40px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:
    0 0 10px rgba(2, 2, 2, 0.5),
    0 0 20px rgba(19, 21, 21, 0.3);
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.step-indicator {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  color: #16c572;
  margin-top: 20px;
  text-shadow: 0 0 6px #16c572;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
  width: 850px;
  margin: 20px auto;
  padding: 0 20px;
  z-index: 10;
  position: relative;
}

.nav-button {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 10px;
  background-color: #16c572;
  border: none;
  color: #fff;
  font-weight: bold;
  box-shadow: 0 0 12px #16c572;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: #149e5a;
  box-shadow: 0 0 18px #16c572;
}
