
.step1-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100%;
  overflow-y: auto;
  overflow: visible;
}
::placeholder {
  font-weight: bold;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group label {
  color: white;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  background-color: #1e2a38;
  border: 1px solid #444;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

/* În step1.component.css */
.dob-wrapper {
  width: 100%;
}

.dob-fields {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 420px;
}

.dob-fields input,
.dob-fields select {
  flex: 1;
  min-width: 0;
}
