.step1-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: 100%;
  overflow: visible;
  overflow-y: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group label {
  color: white;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  background-color: #1e2a38;
  border: 1px solid #444;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.dob-fields {
  display: flex;
  gap: 10px;
}

.dob-fields input,
.dob-fields select {
  flex: 1;
}
