<div class="form-step1">

  <div class="row">
    <div class="input-group">
      <label>First Name</label>
      <input type="text" placeholder="First Name" />
    </div>
    <div class="input-group">
      <label>Last Name (Including Middle Name if present)</label>
      <input type="text" placeholder="Last Name" />
    </div>
  </div>

  <div class="row">
    <div class="input-group">
      <label>Personal ID Number</label>
      <input type="text" placeholder="e.g., ID123456" />
    </div>
    <div class="input-group">
      <label>Street Address</label>
      <input type="text" placeholder="Street Address" />
    </div>
  </div>

  <div class="row">
    <div class="input-group">
      <label>City</label>
      <input type="text" placeholder="City" />
    </div>
    <div class="input-group">
      <label>Postal Code</label>
      <input type="text" placeholder="Postal Code" />
    </div>
  </div>

  <div class="row">
    <div class="input-group">
      <label>Year</label>
      <input type="number" placeholder="Year" />
    </div>
    <div class="input-group">
      <label>Month</label>
      <select>
        <option disabled selected>Select Month</option>
        <option *ngFor="let month of months" [value]="month">{{ month }}</option>
      </select>
    </div>
    <div class="input-group">
      <label>Day</label>
      <input type="number" placeholder="Day" />
    </div>
  </div>

  <div class="row">
    <div class="input-group">
      <label>Nationality</label>
      <input type="text" placeholder="Nationality" />
    </div>
  </div>


  <div class="row">
    <div class="input-group">
      <label>Email Contact</label>
      <input type="email" placeholder="Email Address" />
    </div>
    <div class="input-group">
      <label>Discord ID</label>
      <input type="text" placeholder="e.g., User#1234" />
    </div>
  </div>

  <div class="row">
    <div class="input-group">
      <label>Telegram ID (optional)</label>
      <input type="text" placeholder="Telegram Username" />
    </div>
    <div class="input-group">
      <label>Phone Number (optional)</label>
      <input type="tel" placeholder="Phone Number" />
    </div>
  </div>

  <div class="btns">
    <button (click)="next.emit()">Next <i class="fas fa-arrow-right"></i></button>
  </div>
</div>
